  <header class="major" fxLayout="row"
       fxLayoutAlign="start center" #componentDiv>
    <h1><span class="text-gradient">qub.</span>digital</h1>
    <span fxFlex="1 1 362px"></span>
    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center"
         fxFlex="1 1 auto" fxHide.xs>
      <button mat-button class="nav-button"><a href="#welcome-page" class="active">Welcome</a></button>
      <button mat-button class="nav-button"><a href="#service-page" class="active">Services</a></button>
      <button mat-button class="nav-button"><a href="#about-page" class="active">About</a></button>
      <button mat-button class="nav-button"><a href="#get-in-touch" class="active">Get in touch</a></button>
    </div>
  </header>
<section id="welcome-page">
  <div class="back-blue"></div>
  <div class="welcome-text">
    <h1 style="margin-bottom: 10px;font-size: 45px;">Technology Strategic Agency</h1>
    <p>Lorem ipsum dolor sit amet, <span>consectetur</span> adipiscing elit. Integer<br>sollicitudin sem arcu.
      <span>efficitur.</span></p>
    <button class="button" mat-button>Find Out More</button>
  </div>
</section>

<div style="width: 99%" fxLayout="row">

  <div style="background: #0f1020;" class="align" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 99%">
      <h1 style="margin-bottom: 10px;">Cleverlances</h1>
      <p>Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
        <span>efficitur.</span></p>
      <button class="button" mat-button>Visit Site</button>
    </div>
  </div>

  <div style="background: #202030;" class="align" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 99%">
      <h1 style="margin-bottom: 10px;">qub.digital</h1>
      <p>Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
        <span>efficitur.</span></p>
      <button class="button" mat-button>Visit Site</button>
    </div>
  </div>

</div>
<section id="service-page" fxLayout="column" fxLayoutGap="50px">
  <div>
    <h1 style="margin-bottom: 10px; font-size: 32px">Our Services</h1>
    <p>
      Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
      <span>efficitur.</span>
    </p>
  </div>
  <div>
    <mat-tab-group style="width: 100%" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Development">
        <div fxLayout="row" fxLayoutGap="40%" fxLayoutAlign="center center" style="margin-top: 5%">
          <div>
            <mat-icon class="service-icon">developer_board</mat-icon>
          </div>
          <div style="width: 35%">
            <h1 style="margin-bottom: 10px; font-size: 32px">We develop software</h1>
            <p>
              Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
              <span>efficitur.</span>Lorem ipsum dolor sit amet, <span>consectetur</span> adipiscing elit.
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Testing & UX">
        <div fxLayout="row" fxLayoutGap="40%" fxLayoutAlign="center center" style="margin-top: 5%">
          <div>
            <mat-icon class="service-icon">touch_app</mat-icon>
          </div>
          <div style="width: 35%">
            <h1 style="margin-bottom: 10px; font-size: 32px">Testing & UX</h1>
            <p>
              Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
              <span>efficitur.</span>Lorem ipsum dolor sit amet, <span>consectetur</span> adipiscing elit.
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Responsive Design">
        <div fxLayout="row" fxLayoutGap="40%" fxLayoutAlign="center center" style="margin-top: 5%">
          <div>
            <mat-icon class="service-icon">receipt</mat-icon>
          </div>
          <div style="width: 35%">
            <h1 style="margin-bottom: 10px; font-size: 32px">Responsive Design</h1>
            <p>
              Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
              <span>efficitur.</span>Lorem ipsum dolor sit amet, <span>consectetur</span> adipiscing elit.
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Mobile App">
        <div fxLayout="row" fxLayoutGap="40%" fxLayoutAlign="center center" style="margin-top: 5%">
          <div>
            <mat-icon class="service-icon">developer_mode</mat-icon>
          </div>
          <div style="width: 35%">
            <h1 style="margin-bottom: 10px; font-size: 32px">We develop mobile app</h1>
            <p>
              Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
              <span>efficitur.</span>Lorem ipsum dolor sit amet, <span>consectetur</span> adipiscing elit.
            </p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<section class="client-page" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center start">
  <div>
    <h1 style="margin-bottom: 10px; font-size: 32px; color: #736F72">Client</h1>
    <p>
      Lorem ipsum dolor sit amet, <span style="color: #736F72;">consectetur</span><br>adipiscing elit. Integer
      sollicitudin<br>sem arcu
      <span style="color: #736F72;">efficitur.</span>
    </p>
  </div>
  <div fxLayout="row" fxLayoutGap="11vw" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center center">
      <img src="../assets/images/vodafone.png">
      <h3>VODAFHONE</h3>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center center">
      <img src="../assets/images/bmw.png">
      <h3>BMW</h3>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center center">
      <img src="../assets/images/samsung.png">
      <h3>SAMSUNG</h3>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center center">
      <img src="../assets/images/nokia.png">
      <h3>NOKIA</h3>
    </div>
  </div>
</section>

<section id="about-page" fxLayout="column">
  <div style="height: 500px;" fxLayout="row">
    <div class="about-image"></div>
    <div style="background: #0f1020;" class="align" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="25px">
      <div style="width: 99%">
        <h1>Ivo<br>Mrena</h1>
        <h4 class="creat-text">Creative Director</h4>
        <p>Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
          <span>efficitur.</span> Lorem ipsum dolor sit amet, <span>consectetur</span> adipiscing elit.</p>
      </div>
      <div style="width: 99%;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <button class="button" mat-button>LinkedIn</button>
        <button class="button button1" mat-button>Twitter</button>
      </div>
    </div>
  </div>
  <div class="thank-you-text" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25%">
    <h1 style="">Enjoy our team today!</h1>
    <button class="button button1 margin" mat-button>career@qub.digital.cz</button>
  </div>
</section>

<section id="get-in-touch" fxLayout="column">
  <div fxLayout="row">
    <div style="background: #202030; position: relative" class="align1" fxLayout="column" fxLayoutAlign="center start"
         fxLayoutGap="25px">
      <img class="get-insta" src="../assets/images/instagram.png">
      <div style="width: 99%; font-weight: bold">
        <p>Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
          <span>efficitur.</span> Lorem ipsum dolor sit amet,<br><span>consectetur</span> adipiscing elit.</p>
      </div>
      <div style="width: 99%;font-size: 14px;" fxLayout="row" fxLayoutAlign="start center">
        <span>#Repost  #alldaywork<br>#digitalnasbavi  #qub.digital</span>
      </div>
    </div>

    <div style="background: #202030; position: relative" class="align" fxLayout="row" fxLayoutAlign="end center">
      <img class="big-data" src="../assets/images/data.jpg">
      <span style="font-weight: bold">#digitalnasbavi</span>
    </div>
  </div>

  <div fxLayout="row">
    <div style="background: #2A2D43; position: relative" class="align" fxLayout="row" fxLayoutAlign="end center">
      <img class="big-data" src="../assets/images/welcome-page.jpg">
      <span style="font-weight: bold">@qub.digital</span>
    </div>

    <div style="background: #0f1020; position: relative" class="align1" fxLayout="column" fxLayoutAlign="center start"
         fxLayoutGap="25px">
      <img class="get-insta" src="../assets/images/twitter.png">
      <div style="width: 99%; font-weight: bold">
        <p>Lorem ipsum dolor sit amet, <span>consectetur</span><br>adipiscing elit. Integer sollicitudin<br>sem arcu
          <span>efficitur.</span> Lorem ipsum dolor sit amet,<br><span>consectetur</span> adipiscing elit.</p>
      </div>
      <div style="width: 99%;font-size: 14px;" fxLayout="row" fxLayoutAlign="start center">
        <span>@hello  @digitalagency  @qub.digital</span>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="95px">
    <h1>qub.digital</h1>
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start">
      <h4 fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="contact-icon">perm_phone_msg</mat-icon>
        +91 8743052508
      </h4>
      <h4 fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="contact-icon">email</mat-icon>
        shubham99varshney@gmail.com
      </h4>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
      <h4 fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="contact-icon">home</mat-icon>
        6b/4b/9a, beli road, new katra,<br> prayagraj UP - 211002
      </h4>
      <h4>Member of clearlance group</h4>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button class="button button1 margin" mat-button>
        <img src="../assets/images/facebook.png">
      </button>
      <button class="button button1 margin" mat-button>
        <img src="../assets/images/twitter-small.png">
      </button>
      <button class="button button1 margin" mat-button>
        <img src="../assets/images/linkedin.png">
      </button>
      <button class="button button1 margin" mat-button>
        <img src="../assets/images/instagram-small.png">
      </button>
    </div>
  </div>
</footer>

